:root {
  --gap: 20px;
}

.calculator {
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.calculator__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--gap);
  width: 70vw;
  min-width: 400px;
  max-width: 500px;
}

.calculator__keypad {
  background-color: var(--keypad-background);
  border-radius: 5px;
  display: grid;
  gap: var(--gap);
  padding: 2rem;
  width: 100%;
}

.keypad__num-keys-container {
  grid-template-columns: repeat(4, 1fr);
}

.keypad__calc-state-btns-container {
  grid-template-columns: repeat(2, 1fr);
}

.keypad__num-keys-container,
.keypad__calc-state-btns-container {
  display: grid;
  gap: var(--gap);
}
