@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

.calculator {
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.calculator__body {
  width: 70vw;
  min-width: 450px;
  max-width: 600px;
}

.calculator__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.title-sm {
  color: var(--generic-color);
  font-size: 0.90rem;
}

.title--md {
  color: var(--generic-color);
  font-size: 1.6rem;
}